@charset "UTF-8";
.center {
  background-color: darkgray;
}

.item:hover .img-gal {
  opacity: 0.3;
}

.item:hover .img-gal-text {
  opacity: 1;
}

.img-gal {
  height: 15rem;
  opacity: 1;
  display: block;
  width: 100%;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: 15rem;
  opacity: 1;
  display: block;
  width: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}

.img-gal-text {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
}

.img {
  height: 200px;
  background: #9e9797;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  margin: auto;
  vertical-align: baseline;
  border-style: groove;
}

.imgfondo {
  background-position: left;
  width: 100%;
  max-width: 700px;
  color: #000000;
}

img {
  vertical-align: baseline;
  border-style: solid;
  color: #E80000;
}

.galeria img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 3s;
  transition: opacity 3s;
}

.homeimg {
  background-color: #D3D3D3;
  width: 90%;
  padding: 10px 4px 6px 0px;
  font-size: 20px;
}

h1 {
  color: blue;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-align: center;
}

h2 {
  color: #D3D3D3;
  text-align: center;
}

h2 footer {
  color: #E80000;
}

h3 {
  color: #E80000;
  text-align: center;
}

h4 {
  text-align: center;
}

h5 {
  text-align: center;
  color: #E80000;
}

b {
  color: #E80000;
  font-weight: bold;
}

p {
  color: #E80000;
  font-weight: bold;
  text-align: center;
}

th {
  font-style: italic;
  color: #E80000;
}

td {
  font-style: italic;
  color: #E80000;
}

div b {
  font-style: italic;
  font-size: 20px;
  color: #E80000;
}

div p {
  font-style: italic;
  font-size: 20px;
  color: #E80000;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: serif;
  margin: 5px;
  background-color: #000000;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

aside {
  display: block;
  position: -webkit-sticky;
  position: sticky;
}

figcaption {
  display: block;
  position: -webkit-sticky;
  position: sticky;
}

figure {
  display: block;
  position: -webkit-sticky;
  position: sticky;
}

footer {
  display: block;
  position: -webkit-sticky;
  position: sticky;
}

header {
  display: block;
  position: -webkit-sticky;
  position: sticky;
}

hgroup {
  display: block;
  position: -webkit-sticky;
  position: sticky;
}

main {
  display: block;
  position: -webkit-sticky;
  position: sticky;
}

nav {
  display: block;
  position: -webkit-sticky;
  position: sticky;
}

section {
  display: block;
  position: -webkit-sticky;
  position: sticky;
}

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

center {
  font-style: italic;
  font-size: 28px;
  color: #E80000;
}

a {
  font-size: 20px;
  color: #E80000;
  font-style: italic;
}

.header {
  padding: 20px;
  text-align: center;
  background: #000000;
  color: blue;
}

.navbar a {
  color: #E80000;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  background-color: #000000;
  color: #E80000;
}

.navbar .container {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.navbar .container-fluid {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.navbar .container-sm {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.navbar .container-md {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.navbar .container-lg {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.navbar .container-xl {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.side {
  -webkit-box-flex: 30%;
  -ms-flex: 30%;
  flex: 30%;
  background-color: #D3D3D3;
  padding: 20px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main {
  -webkit-box-flex: 65%;
  -ms-flex: 65%;
  flex: 65%;
  background-color: #000000;
  padding: 20px;
}

.main-div {
  color: #D3D3D3;
}

.side-div {
  -webkit-box-flex: 30%;
  -ms-flex: 30%;
  flex: 30%;
  background-color: #000000;
  padding: 20px;
}

.footer {
  padding: 20px;
  font-size: 11px;
  text-align: left;
  background: #000000;
  background-color: #D3D3D3;
}

.footer-div {
  padding: 20px;
  font-size: 11px;
  text-align: left;
  background: #000000;
  background-color: #D3D3D3;
}

.div {
  padding: 5px;
}

.texto {
  background-color: #D3D3D3;
  color: #E80000;
  font-size: 16px;
  padding: 16px 32px;
}

/* Móviles en horizontal o tablets en vertical */
@media (max-width: 767px) {
  #galeria {
    -webkit-columns: 2;
            columns: 2;
  }
}

/* Móviles en vertical */
@media (max-width: 480px) {
  #galeria {
    -webkit-columns: 1;
            columns: 1;
  }
}
/*# sourceMappingURL=styles.css.map */